.experience {
  position: relative;
  .blur {
    z-index: 0;
    width: 800px;
    height: 300px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  h1 {
    background: rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    padding: 20px 40px;
    color: var(--w1);
  }
  > div {
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
    background: var(--b2);
    > div {
      background: rgba(0, 0, 0, 0.25);
    }
  }
  .experience-container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: fit-content;
    padding: 40px 20px;
    display: flex;
    gap: 40px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar {
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      background: var(--b1);
    }
    &::-webkit-scrollbar-thumb {
      background: #aaa;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #cecece;
    }
  }
  .experience-card {
    color: var(--w1);
    box-sizing: content-box;
    padding: 40px 25px;
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
    background: rgba(0, 0, 0, 0.25);
    min-width: 300px;
    max-width: 300px;
    h2,
    h3 {
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      font-size: 1.75rem;
    }
    h3 {
      font-size: 1.25rem;
      color: #aaa;
      margin-top: 4px;
    }
    > span {
      display: block;
      font-family: Poppins, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      margin: 10px 0;
    }
    p {
      color: #aaa;
      line-height: 2rem;
      font-weight: 400;
    }
    div {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      h4 {
        box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
        background: rgba(0, 0, 0, 0.25);
        font-weight: 500;
        padding: 18px;
        display: block;
        max-width: fit-content;
      }
    }
  }
}

@media (max-width: 1200px) {
  .experience {
    .experience-container {
      padding: 20px;
      gap: 20px;
    }
  }
}

@media (max-width: 750px) {
  .experience {
    .experience-card {
      p {
        font-size: 1rem;
      }
    }
  }
}
