.services {
  padding: 80px 0;
  margin-bottom: -60px;
  background-color: var(--b2);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%235454545e%22 stroke-width=%22.8%22 fill=%22none%22 mask=%22url(%23b)%22%3E%3Cpath d=%22M0 0h83.333v83.333H0zM83.333 0h83.333v83.333H83.333zM166.667 0H250v83.333h-83.333zM250 0h83.333v83.333H250zM333.333 0h83.333v83.333h-83.333zM416.667 0H500v83.333h-83.333zM500 0h83.333v83.333H500zM583.333 0h83.333v83.333h-83.333zM666.667 0H750v83.333h-83.333zM750 0h83.333v83.333H750zM833.333 0h83.333v83.333h-83.333zM916.667 0H1000v83.333h-83.333zM1000 0h83.333v83.333H1000zM1083.333 0h83.333v83.333h-83.333zM1166.667 0H1250v83.333h-83.333zM1250 0h83.333v83.333H1250zM1333.333 0h83.333v83.333h-83.333zM1416.667 0H1500v83.333h-83.333zM1500 0h83.333v83.333H1500zM1583.333 0h83.333v83.333h-83.333zM1666.667 0H1750v83.333h-83.333zM1750 0h83.333v83.333H1750zM1833.333 0h83.333v83.333h-83.333zM1916.667 0H2000v83.333h-83.333zM0 83.333h83.333v83.333H0zM83.333 83.333h83.333v83.333H83.333zM166.667 83.333H250v83.333h-83.333zM250 83.333h83.333v83.333H250zM333.333 83.333h83.333v83.333h-83.333zM416.667 83.333H500v83.333h-83.333zM500 83.333h83.333v83.333H500zM583.333 83.333h83.333v83.333h-83.333zM666.667 83.333H750v83.333h-83.333zM750 83.333h83.333v83.333H750zM833.333 83.333h83.333v83.333h-83.333zM916.667 83.333H1000v83.333h-83.333zM1000 83.333h83.333v83.333H1000zM1083.333 83.333h83.333v83.333h-83.333zM1166.667 83.333H1250v83.333h-83.333zM1250 83.333h83.333v83.333H1250zM1333.333 83.333h83.333v83.333h-83.333zM1416.667 83.333H1500v83.333h-83.333zM1500 83.333h83.333v83.333H1500zM1583.333 83.333h83.333v83.333h-83.333zM1666.667 83.333H1750v83.333h-83.333zM1750 83.333h83.333v83.333H1750zM1833.333 83.333h83.333v83.333h-83.333zM1916.667 83.333H2000v83.333h-83.333zM0 166.667h83.333V250H0zM83.333 166.667h83.333V250H83.333zM166.667 166.667H250V250h-83.333zM250 166.667h83.333V250H250zM333.333 166.667h83.333V250h-83.333zM416.667 166.667H500V250h-83.333zM500 166.667h83.333V250H500zM583.333 166.667h83.333V250h-83.333zM666.667 166.667H750V250h-83.333zM750 166.667h83.333V250H750zM833.333 166.667h83.333V250h-83.333zM916.667 166.667H1000V250h-83.333zM1000 166.667h83.333V250H1000zM1083.333 166.667h83.333V250h-83.333zM1166.667 166.667H1250V250h-83.333zM1250 166.667h83.333V250H1250zM1333.333 166.667h83.333V250h-83.333zM1416.667 166.667H1500V250h-83.333zM1500 166.667h83.333V250H1500zM1583.333 166.667h83.333V250h-83.333zM1666.667 166.667H1750V250h-83.333zM1750 166.667h83.333V250H1750zM1833.333 166.667h83.333V250h-83.333zM1916.667 166.667H2000V250h-83.333zM0 250h83.333v83.333H0zM83.333 250h83.333v83.333H83.333zM166.667 250H250v83.333h-83.333zM250 250h83.333v83.333H250zM333.333 250h83.333v83.333h-83.333zM416.667 250H500v83.333h-83.333zM500 250h83.333v83.333H500zM583.333 250h83.333v83.333h-83.333zM666.667 250H750v83.333h-83.333zM750 250h83.333v83.333H750zM833.333 250h83.333v83.333h-83.333zM916.667 250H1000v83.333h-83.333zM1000 250h83.333v83.333H1000zM1083.333 250h83.333v83.333h-83.333zM1166.667 250H1250v83.333h-83.333zM1250 250h83.333v83.333H1250zM1333.333 250h83.333v83.333h-83.333zM1416.667 250H1500v83.333h-83.333zM1500 250h83.333v83.333H1500zM1583.333 250h83.333v83.333h-83.333zM1666.667 250H1750v83.333h-83.333zM1750 250h83.333v83.333H1750zM1833.333 250h83.333v83.333h-83.333zM1916.667 250H2000v83.333h-83.333zM0 333.333h83.333v83.333H0zM83.333 333.333h83.333v83.333H83.333zM166.667 333.333H250v83.333h-83.333zM250 333.333h83.333v83.333H250zM333.333 333.333h83.333v83.333h-83.333zM416.667 333.333H500v83.333h-83.333zM500 333.333h83.333v83.333H500zM583.333 333.333h83.333v83.333h-83.333zM666.667 333.333H750v83.333h-83.333zM750 333.333h83.333v83.333H750zM833.333 333.333h83.333v83.333h-83.333zM916.667 333.333H1000v83.333h-83.333zM1000 333.333h83.333v83.333H1000zM1083.333 333.333h83.333v83.333h-83.333zM1166.667 333.333H1250v83.333h-83.333zM1250 333.333h83.333v83.333H1250zM1333.333 333.333h83.333v83.333h-83.333zM1416.667 333.333H1500v83.333h-83.333zM1500 333.333h83.333v83.333H1500zM1583.333 333.333h83.333v83.333h-83.333zM1666.667 333.333H1750v83.333h-83.333zM1750 333.333h83.333v83.333H1750zM1833.333 333.333h83.333v83.333h-83.333zM1916.667 333.333H2000v83.333h-83.333zM0 416.667h83.333V500H0zM83.333 416.667h83.333V500H83.333zM166.667 416.667H250V500h-83.333zM250 416.667h83.333V500H250zM333.333 416.667h83.333V500h-83.333zM416.667 416.667H500V500h-83.333zM500 416.667h83.333V500H500zM583.333 416.667h83.333V500h-83.333zM666.667 416.667H750V500h-83.333zM750 416.667h83.333V500H750zM833.333 416.667h83.333V500h-83.333zM916.667 416.667H1000V500h-83.333zM1000 416.667h83.333V500H1000zM1083.333 416.667h83.333V500h-83.333zM1166.667 416.667H1250V500h-83.333zM1250 416.667h83.333V500H1250zM1333.333 416.667h83.333V500h-83.333zM1416.667 416.667H1500V500h-83.333zM1500 416.667h83.333V500H1500zM1583.333 416.667h83.333V500h-83.333zM1666.667 416.667H1750V500h-83.333zM1750 416.667h83.333V500H1750zM1833.333 416.667h83.333V500h-83.333zM1916.667 416.667H2000V500h-83.333zM0 500h83.333v83.333H0zM83.333 500h83.333v83.333H83.333zM166.667 500H250v83.333h-83.333zM250 500h83.333v83.333H250zM333.333 500h83.333v83.333h-83.333zM416.667 500H500v83.333h-83.333zM500 500h83.333v83.333H500zM583.333 500h83.333v83.333h-83.333zM666.667 500H750v83.333h-83.333zM750 500h83.333v83.333H750zM833.333 500h83.333v83.333h-83.333zM916.667 500H1000v83.333h-83.333zM1000 500h83.333v83.333H1000zM1083.333 500h83.333v83.333h-83.333zM1166.667 500H1250v83.333h-83.333zM1250 500h83.333v83.333H1250zM1333.333 500h83.333v83.333h-83.333zM1416.667 500H1500v83.333h-83.333zM1500 500h83.333v83.333H1500zM1583.333 500h83.333v83.333h-83.333zM1666.667 500H1750v83.333h-83.333zM1750 500h83.333v83.333H1750zM1833.333 500h83.333v83.333h-83.333zM1916.667 500H2000v83.333h-83.333zM0 583.333h83.333v83.333H0zM83.333 583.333h83.333v83.333H83.333zM166.667 583.333H250v83.333h-83.333zM250 583.333h83.333v83.333H250zM333.333 583.333h83.333v83.333h-83.333zM416.667 583.333H500v83.333h-83.333zM500 583.333h83.333v83.333H500zM583.333 583.333h83.333v83.333h-83.333zM666.667 583.333H750v83.333h-83.333zM750 583.333h83.333v83.333H750zM833.333 583.333h83.333v83.333h-83.333zM916.667 583.333H1000v83.333h-83.333zM1000 583.333h83.333v83.333H1000zM1083.333 583.333h83.333v83.333h-83.333zM1166.667 583.333H1250v83.333h-83.333zM1250 583.333h83.333v83.333H1250zM1333.333 583.333h83.333v83.333h-83.333zM1416.667 583.333H1500v83.333h-83.333zM1500 583.333h83.333v83.333H1500zM1583.333 583.333h83.333v83.333h-83.333zM1666.667 583.333H1750v83.333h-83.333zM1750 583.333h83.333v83.333H1750zM1833.333 583.333h83.333v83.333h-83.333zM1916.667 583.333H2000v83.333h-83.333zM0 666.667h83.333V750H0zM83.333 666.667h83.333V750H83.333zM166.667 666.667H250V750h-83.333zM250 666.667h83.333V750H250zM333.333 666.667h83.333V750h-83.333zM416.667 666.667H500V750h-83.333zM500 666.667h83.333V750H500zM583.333 666.667h83.333V750h-83.333zM666.667 666.667H750V750h-83.333zM750 666.667h83.333V750H750zM833.333 666.667h83.333V750h-83.333zM916.667 666.667H1000V750h-83.333zM1000 666.667h83.333V750H1000zM1083.333 666.667h83.333V750h-83.333zM1166.667 666.667H1250V750h-83.333zM1250 666.667h83.333V750H1250zM1333.333 666.667h83.333V750h-83.333zM1416.667 666.667H1500V750h-83.333zM1500 666.667h83.333V750H1500zM1583.333 666.667h83.333V750h-83.333zM1666.667 666.667H1750V750h-83.333zM1750 666.667h83.333V750H1750zM1833.333 666.667h83.333V750h-83.333zM1916.667 666.667H2000V750h-83.333zM0 750h83.333v83.333H0zM83.333 750h83.333v83.333H83.333zM166.667 750H250v83.333h-83.333zM250 750h83.333v83.333H250zM333.333 750h83.333v83.333h-83.333zM416.667 750H500v83.333h-83.333zM500 750h83.333v83.333H500zM583.333 750h83.333v83.333h-83.333zM666.667 750H750v83.333h-83.333zM750 750h83.333v83.333H750zM833.333 750h83.333v83.333h-83.333zM916.667 750H1000v83.333h-83.333zM1000 750h83.333v83.333H1000zM1083.333 750h83.333v83.333h-83.333zM1166.667 750H1250v83.333h-83.333zM1250 750h83.333v83.333H1250zM1333.333 750h83.333v83.333h-83.333zM1416.667 750H1500v83.333h-83.333zM1500 750h83.333v83.333H1500zM1583.333 750h83.333v83.333h-83.333zM1666.667 750H1750v83.333h-83.333zM1750 750h83.333v83.333H1750zM1833.333 750h83.333v83.333h-83.333zM1916.667 750H2000v83.333h-83.333zM0 833.333h83.333v83.333H0zM83.333 833.333h83.333v83.333H83.333zM166.667 833.333H250v83.333h-83.333zM250 833.333h83.333v83.333H250zM333.333 833.333h83.333v83.333h-83.333zM416.667 833.333H500v83.333h-83.333zM500 833.333h83.333v83.333H500zM583.333 833.333h83.333v83.333h-83.333zM666.667 833.333H750v83.333h-83.333zM750 833.333h83.333v83.333H750zM833.333 833.333h83.333v83.333h-83.333zM916.667 833.333H1000v83.333h-83.333zM1000 833.333h83.333v83.333H1000zM1083.333 833.333h83.333v83.333h-83.333zM1166.667 833.333H1250v83.333h-83.333zM1250 833.333h83.333v83.333H1250zM1333.333 833.333h83.333v83.333h-83.333zM1416.667 833.333H1500v83.333h-83.333zM1500 833.333h83.333v83.333H1500zM1583.333 833.333h83.333v83.333h-83.333zM1666.667 833.333H1750v83.333h-83.333zM1750 833.333h83.333v83.333H1750zM1833.333 833.333h83.333v83.333h-83.333zM1916.667 833.333H2000v83.333h-83.333zM0 916.667h83.333V1000H0zM83.333 916.667h83.333V1000H83.333zM166.667 916.667H250V1000h-83.333zM250 916.667h83.333V1000H250zM333.333 916.667h83.333V1000h-83.333zM416.667 916.667H500V1000h-83.333zM500 916.667h83.333V1000H500zM583.333 916.667h83.333V1000h-83.333zM666.667 916.667H750V1000h-83.333zM750 916.667h83.333V1000H750zM833.333 916.667h83.333V1000h-83.333zM916.667 916.667H1000V1000h-83.333zM1000 916.667h83.333V1000H1000zM1083.333 916.667h83.333V1000h-83.333zM1166.667 916.667H1250V1000h-83.333zM1250 916.667h83.333V1000H1250zM1333.333 916.667h83.333V1000h-83.333zM1416.667 916.667H1500V1000h-83.333zM1500 916.667h83.333V1000H1500zM1583.333 916.667h83.333V1000h-83.333zM1666.667 916.667H1750V1000h-83.333zM1750 916.667h83.333V1000H1750zM1833.333 916.667h83.333V1000h-83.333zM1916.667 916.667H2000V1000h-83.333zM0 1000h83.333v83.333H0zM83.333 1000h83.333v83.333H83.333zM166.667 1000H250v83.333h-83.333zM250 1000h83.333v83.333H250zM333.333 1000h83.333v83.333h-83.333zM416.667 1000H500v83.333h-83.333zM500 1000h83.333v83.333H500zM583.333 1000h83.333v83.333h-83.333zM666.667 1000H750v83.333h-83.333zM750 1000h83.333v83.333H750zM833.333 1000h83.333v83.333h-83.333zM916.667 1000H1000v83.333h-83.333zM1000 1000h83.333v83.333H1000zM1083.333 1000h83.333v83.333h-83.333zM1166.667 1000H1250v83.333h-83.333zM1250 1000h83.333v83.333H1250zM1333.333 1000h83.333v83.333h-83.333zM1416.667 1000H1500v83.333h-83.333zM1500 1000h83.333v83.333H1500zM1583.333 1000h83.333v83.333h-83.333zM1666.667 1000H1750v83.333h-83.333zM1750 1000h83.333v83.333H1750zM1833.333 1000h83.333v83.333h-83.333zM1916.667 1000H2000v83.333h-83.333zM0 1083.333h83.333v83.333H0zM83.333 1083.333h83.333v83.333H83.333zM166.667 1083.333H250v83.333h-83.333zM250 1083.333h83.333v83.333H250zM333.333 1083.333h83.333v83.333h-83.333zM416.667 1083.333H500v83.333h-83.333zM500 1083.333h83.333v83.333H500zM583.333 1083.333h83.333v83.333h-83.333zM666.667 1083.333H750v83.333h-83.333zM750 1083.333h83.333v83.333H750zM833.333 1083.333h83.333v83.333h-83.333zM916.667 1083.333H1000v83.333h-83.333zM1000 1083.333h83.333v83.333H1000zM1083.333 1083.333h83.333v83.333h-83.333zM1166.667 1083.333H1250v83.333h-83.333zM1250 1083.333h83.333v83.333H1250zM1333.333 1083.333h83.333v83.333h-83.333zM1416.667 1083.333H1500v83.333h-83.333zM1500 1083.333h83.333v83.333H1500zM1583.333 1083.333h83.333v83.333h-83.333zM1666.667 1083.333H1750v83.333h-83.333zM1750 1083.333h83.333v83.333H1750zM1833.333 1083.333h83.333v83.333h-83.333zM1916.667 1083.333H2000v83.333h-83.333zM0 1166.667h83.333V1250H0zM83.333 1166.667h83.333V1250H83.333zM166.667 1166.667H250V1250h-83.333zM250 1166.667h83.333V1250H250zM333.333 1166.667h83.333V1250h-83.333zM416.667 1166.667H500V1250h-83.333zM500 1166.667h83.333V1250H500zM583.333 1166.667h83.333V1250h-83.333zM666.667 1166.667H750V1250h-83.333zM750 1166.667h83.333V1250H750zM833.333 1166.667h83.333V1250h-83.333zM916.667 1166.667H1000V1250h-83.333zM1000 1166.667h83.333V1250H1000zM1083.333 1166.667h83.333V1250h-83.333zM1166.667 1166.667H1250V1250h-83.333zM1250 1166.667h83.333V1250H1250zM1333.333 1166.667h83.333V1250h-83.333zM1416.667 1166.667H1500V1250h-83.333zM1500 1166.667h83.333V1250H1500zM1583.333 1166.667h83.333V1250h-83.333zM1666.667 1166.667H1750V1250h-83.333zM1750 1166.667h83.333V1250H1750zM1833.333 1166.667h83.333V1250h-83.333zM1916.667 1166.667H2000V1250h-83.333zM0 1250h83.333v83.333H0zM83.333 1250h83.333v83.333H83.333zM166.667 1250H250v83.333h-83.333zM250 1250h83.333v83.333H250zM333.333 1250h83.333v83.333h-83.333zM416.667 1250H500v83.333h-83.333zM500 1250h83.333v83.333H500zM583.333 1250h83.333v83.333h-83.333zM666.667 1250H750v83.333h-83.333zM750 1250h83.333v83.333H750zM833.333 1250h83.333v83.333h-83.333zM916.667 1250H1000v83.333h-83.333zM1000 1250h83.333v83.333H1000zM1083.333 1250h83.333v83.333h-83.333zM1166.667 1250H1250v83.333h-83.333zM1250 1250h83.333v83.333H1250zM1333.333 1250h83.333v83.333h-83.333zM1416.667 1250H1500v83.333h-83.333zM1500 1250h83.333v83.333H1500zM1583.333 1250h83.333v83.333h-83.333zM1666.667 1250H1750v83.333h-83.333zM1750 1250h83.333v83.333H1750zM1833.333 1250h83.333v83.333h-83.333zM1916.667 1250H2000v83.333h-83.333zM0 1333.333h83.333v83.333H0zM83.333 1333.333h83.333v83.333H83.333zM166.667 1333.333H250v83.333h-83.333zM250 1333.333h83.333v83.333H250zM333.333 1333.333h83.333v83.333h-83.333zM416.667 1333.333H500v83.333h-83.333zM500 1333.333h83.333v83.333H500zM583.333 1333.333h83.333v83.333h-83.333zM666.667 1333.333H750v83.333h-83.333zM750 1333.333h83.333v83.333H750zM833.333 1333.333h83.333v83.333h-83.333zM916.667 1333.333H1000v83.333h-83.333zM1000 1333.333h83.333v83.333H1000zM1083.333 1333.333h83.333v83.333h-83.333zM1166.667 1333.333H1250v83.333h-83.333zM1250 1333.333h83.333v83.333H1250zM1333.333 1333.333h83.333v83.333h-83.333zM1416.667 1333.333H1500v83.333h-83.333zM1500 1333.333h83.333v83.333H1500zM1583.333 1333.333h83.333v83.333h-83.333zM1666.667 1333.333H1750v83.333h-83.333zM1750 1333.333h83.333v83.333H1750zM1833.333 1333.333h83.333v83.333h-83.333zM1916.667 1333.333H2000v83.333h-83.333z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22 stop-opacity=%22.712%22%2F%3E%3Cstop offset=%2276%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
  .content {
    padding: 80px 20px;
  }
  .service-description {
    color: #aaa;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2rem;
    max-width: 700px;
    padding: 20px 0;
    position: relative;
    z-index: 1;
  }
  .services-inner {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 30px;
    .blur {
      z-index: 0;
      width: 500px;
    }
  }
  .terminal {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 900px;
    backdrop-filter: blur(15px);
    .terminal-header {
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: rgba(0, 0, 0, 0.35);
      > div {
        display: flex;
        gap: 2px;
        div {
          border-radius: 50%;
          height: 12px;
          margin: 0 5px;
          width: 12px;
        }
        div:nth-child(1) {
          background: #ff5f56;
        }
        div:nth-child(2) {
          background: #ffbd2e;
        }
        div:nth-child(3) {
          background: #27c93f;
        }
      }
      > h2 {
        font-size: 1.25rem;
        color: var(--w1);
        font-weight: 500;
      }
      > span {
        display: block;
        width: 70px;
      }
    }
    .terminal-inner {
      width: 100%;
      height: calc(100% - 37px);
      box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
      background: rgba(0, 0, 0, 0.25);
      color: #aaa;
      font-size: 1rem;
      line-height: 1.75rem;
      font-weight: 400;
      padding: 20px;
      position: relative;
      overflow: hidden;
      h2,
      p {
        display: inline;
        font-size: 1.125rem;
      }
      h2 {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--w1);
      }
      .Typewriter {
        max-width: 500px;
        position: relative;
        z-index: 2;
      }
      video {
        max-width: 300px;
        margin-top: 18px;
        opacity: 0;
        transition: 0.2s ease;
        position: relative;
        z-index: 2;
      }
      video.active {
        opacity: 1;
      }
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: -100px;
        margin: auto 0;
        max-width: 400px;
        width: 100%;
        opacity: 0;
        transition: 0.2s ease;
        z-index: 1;
        -webkit-mask-image: linear-gradient(
          to bottom right,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        mask-image: linear-gradient(
          to bottom right,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;

        -webkit-mask-size: cover;
        mask-size: cover;
      }
      img.active {
        opacity: 0.25;
      }
    }
  }
  .service-icons {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .service-icon {
      box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
      background: rgba(0, 0, 0, 0.25);
      border: 1px solid rgba(0, 0, 0, 0);
      backdrop-filter: blur(15px);
      height: 50px;
      box-sizing: content-box;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 10px 20px;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover,
      &.active {
        border: 1px solid rgba(255, 255, 255, 0.75);
        opacity: 1 !important;
      }
      img {
        -webkit-mask-image: linear-gradient(
          to bottom right,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0.25) 100%
        );
        mask-image: linear-gradient(
          to bottom right,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0.25) 100%
        );
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;

        -webkit-mask-size: cover;
        mask-size: cover;
      }
      h3 {
        font-size: 1.25rem;
        color: #aaa;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 1060px) {
  .services {
    .content {
      padding: 40px 20px;
    }
    .service-description {
      margin: 0 auto;
      text-align: center;
    }
  }
}

@media (max-width: 940px) {
  .services {
    .terminal {
      .terminal-inner {
        min-height: 405px;
      }
    }
    .services-inner {
      flex-direction: column;
      .blur {
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
      }
    }
    .service-icons {
      flex-direction: row;
      overflow-x: auto;
      padding-bottom: 20px;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      &::-webkit-scrollbar {
        height: 8px;
      }
      &::-webkit-scrollbar-track {
        background: var(--b1);
      }
      &::-webkit-scrollbar-thumb {
        background: #454545;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: var(--w1);
      }
      .service-icon {
        min-width: 200px;
      }
    }
  }
}

@media (max-width: 740px) {
  .services {
    .service-description {
      padding-bottom: 0;
      font-size: 1rem;
      text-align: left;
    }
    .terminal {
      .terminal-inner {
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 710px) {
  .services {
    padding-top: 300px;
  }
}

@media (max-width: 520px) {
  .services {
    padding-top: 340px;
    .terminal {
      .terminal-header {
        span {
          display: none;
        }
      }
      .terminal-inner {
        video {
          max-width: 100%;
        }
      }
    }
  }
}
