.hero {
  background: var(--b2);
  color: var(--w1);
  position: relative;
  z-index: 2;
  .container {
    padding: 260px 20px 500px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > span {
      font-size: clamp(8px, 5vw, 1.75rem);
      text-transform: uppercase;
      color: var(--w1);
      text-align: center;
    }
  }
  h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: clamp(25px, 16vw, 6rem);
    line-height: 1em;
    position: relative;
    z-index: 2;
    overflow: hidden;
    text-align: center;
    max-width: fit-content;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    span {
      display: block;
      overflow: hidden;
      &:nth-child(1) i.active,
      &:nth-child(3).active {
        display: block;
        transform: translate3d(0, 100%, 0);
        animation: text-appear 1s ease;
        animation-delay: 0.2s;
        animation-fill-mode: forwards;
      }
      &:nth-child(1) i,
      &:nth-child(2),
      &:nth-child(3) {
        transition: opacity 0.2s ease;
        opacity: 0;
      }
      &:nth-child(1) i.opaque,
      &:nth-child(2).opaque,
      &:nth-child(3).opaque {
        opacity: 1;
      }
      &:nth-child(3).active {
        animation-delay: 0.5s;
      }
    }
    .separator.active {
      width: 0%;
      height: 4px;
      background: var(--w1);
      animation: line-appear 1s ease;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
  }
  .orbit {
    position: absolute;
    .orbit-rings {
      position: relative;
      width: auto;
      user-select: none;
      z-index: -1;
      animation: spin-orbit 6s linear infinite;
    }
    .orbit-image {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      margin: auto;
      animation: spin 16s linear infinite;
      transform: rotate(var(--start-angle)) translate(320px)
        rotate(calc(-1 * var(--start-angle)));
      width: 45px;
      height: 45px;
      opacity: 0.4;
      transition: 0.3s ease;
    }
    .active {
      opacity: 1;
      width: 55px;
      height: 55px;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
    }
  }
  .swiper {
    position: absolute;
    max-width: 100%;
    bottom: -160px;
    left: 0;
    right: 0;
    margin-inline: auto;
  }
  .swiper-slide {
    width: 1000px;
  }
}

@keyframes spin {
  100% {
    transform: rotate(calc(1turn + var(--start-angle))) translate(320px)
      rotate(calc(-1turn - var(--start-angle)));
  }
}

@keyframes spin-orbit {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes line-appear {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes text-appear {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 940px) {
  .hero {
    .container {
      padding: 140px 20px 300px;
    }
    h1 {
      span {
        display: block;
        overflow: hidden;
      }
    }
    .orbit {
      order: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 30px;
      gap: 20px 40px;
      position: unset;
      min-height: 55px;
      .orbit-rings {
        display: none;
      }
      .orbit-image {
        margin: 0;
        position: unset;
        transform: unset;
        animation: none;
      }
    }
  }
}

@media (max-width: 710px) {
  .hero {
    .swiper {
      bottom: -230px;
    }
  }
}

@media (max-width: 520px) {
  .hero {
    .container {
      padding-bottom: 340px;
    }
    .swiper {
      bottom: -270px;
    }
  }
}
