.project-meta {
  background: var(--b2);
  .container {
    display: flex;
    justify-content: start;
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    gap: 20px;
    padding: 20px;
    &::-webkit-scrollbar {
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      background: var(--b1);
    }
    &::-webkit-scrollbar-thumb {
      background: #454545;
      border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: var(--w1);
    }
    > div {
      padding: 24px;
      min-width: 260px;
      background: var(--b1);
      border-radius: 12px;
      color: var(--w1);
      text-transform: uppercase;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 8px;
      background-size: 112px;
      background-repeat: no-repeat;
      background-position: right;
      &:nth-child(1) {
        background-image: url("/assets/img/svg/scale.svg");
      }
      &:nth-child(2) {
        background-image: url("/assets/img/svg/objective.svg");
      }
      &:nth-child(3) {
        background-image: url("/assets/img/svg/duration.svg");
      }
      &:nth-child(4) {
        background-image: url("/assets/img/svg/status.svg");
      }
    }
    h2 {
      font-size: 1.5rem;
    }
    p {
      color: #aaa;
      font-size: 1.125rem;
    }
  }
}
