header {
  background: var(--b2);
  > div {
    background: rgba(0, 0, 0, 0.15);
  }
  .container {
    position: relative;
    z-index: 5;
    padding: 30px 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    > a:nth-child(1) {
      margin: 0 40px;
      img {
        -webkit-mask-image: linear-gradient(
          to bottom right,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0.5) 100%
        );
        mask-image: linear-gradient(
          to bottom right,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0.5) 100%
        );
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;

        -webkit-mask-size: cover;
        mask-size: cover;
      }
    }
    .resume {
      box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
      background: rgba(0, 0, 0, 0.125);
      overflow: hidden;
      color: var(--w1);
      position: relative;
      text-decoration: none;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 18px;
      padding: 12px 20px;
      border-radius: 0px;
      .blur {
        z-index: 0;
        height: 30px;
        filter: blur(20px);
        bottom: -10px;
        opacity: 0;
      }
      img {
        max-width: 30px;
        position: relative;
        z-index: 1;
        -webkit-mask-image: linear-gradient(
          to bottom right,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0.5) 100%
        );
        mask-image: linear-gradient(
          to bottom right,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0.5) 100%
        );
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;

        -webkit-mask-size: cover;
        mask-size: cover;
      }
      p {
        position: relative;
        font-family: var(--font-chakra-petch);
        z-index: 1;
        white-space: nowrap;
      }
      &:hover {
        .blur {
          opacity: 0.6;
        }
      }
    }
  }
  nav {
    ul {
      font-family: var(--font-chakra-petch);
      box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
      background: rgba(0, 0, 0, 0.125);
      display: flex;
      flex-wrap: wrap;
      gap: 20px 50px;
      padding: 18px 36px;
      box-sizing: content-box;
      border-radius: 0px;
      li {
        position: relative;
        p,
        a {
          cursor: pointer;
          text-decoration: none;
          color: var(--w1);
          font-weight: 500;
          display: inline-block;
        }
        &::after {
          content: "";
          position: absolute;
          width: 0%;
          height: 2px;
          background: var(--w1);
          left: 0;
          bottom: -3px;
          transition: width 0.3s ease;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  .mobile-menu {
    padding: 20px 10px;
    display: none;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    &::before {
      content: "";
      display: block;
      background-color: var(--w1);
      border: none;
      width: 32px;
      height: 3px;
      border-radius: 0px;
      box-shadow: 0 10px var(--w1), 0 -10px var(--w1);
    }
  }
}

.contact-card {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 11;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  .card-inner {
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
    background: #101010;
    position: relative;
    overflow: hidden;
    padding: 20px;
    border-radius: 0px;
    max-width: 680px;
    .title {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      gap: 30px;
      > img {
        border-radius: 0px;
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        h1 {
          font-family: var(--font-raleway);
          text-transform: uppercase;
          font-weight: 900;
          color: var(--w1);
          span {
            font-weight: 400;
          }
        }
        h2 {
          color: var(--w1);
          text-transform: uppercase;
          font-size: 1.125rem;
        }
        > span {
          margin-top: 8px;
          font-weight: 400;
          line-height: 1.75rem;
          max-width: 400px;
          color: #aaa;
        }
      }
    }
    .links {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 40px;
      position: relative;
      z-index: 1;
      a {
        box-sizing: content-box;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
        background: rgba(0, 0, 0, 0.125);
        transition: 0.3s ease;
        border: 1px solid transparent;
        &:hover {
          transform: scale(1.1);
          border-color: var(--w1);
        }
      }
      img {
        max-width: 35px;
      }
    }
    > img {
      position: absolute;
      right: -40px;
      bottom: -46px;
      z-index: 0;
      opacity: 0.05;
    }
    .blur {
      z-index: 0;
      height: 100px;
      filter: blur(50px);
      bottom: -50px;
    }
  }
}

.contact-atropos {
  transition: transform 0.5s ease;
}

.atropos-inner {
  border-radius: 0px;
}

.no-transition {
  transition: none !important;
}

@media (max-width: 1240px) {
  header {
    .container {
      padding: 30px;
      > a:nth-child(1) {
        margin: 0;
      }
    }
    nav {
      position: fixed;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100vh;
      left: 0;
      z-index: 10;
      top: 0;
      transition: opacity 0.3s ease;
      opacity: 0;
      pointer-events: none;
      ul {
        position: absolute;
        right: -252px;
        transition: right 0.5s ease;
        width: 100%;
        max-width: 180px;
        border-radius: 0;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        li {
          box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
          background: rgba(0, 0, 0, 0.5);
          transition: 0.3s ease;
          border: 1px solid rgba(255, 255, 255, 0);
          p,
          a {
            padding: 16px;
            width: 100%;
          }
          &::after {
            display: none;
          }
          &:hover {
            border: 1px solid #aaa;
          }
        }
      }
    }
    nav.mobile-active {
      opacity: 1;
      pointer-events: unset;
      ul {
        right: 0;
      }
    }
    .mobile-menu {
      display: block;
      margin: 0 20px;
    }
  }
}

@media (max-width: 710px) {
  .contact-card {
    .card-inner {
      .title {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        .info {
          h2 {
            line-height: 1.75rem;
          }
        }
      }
      .links {
        flex-wrap: wrap;
        gap: 20px 30px;
      }
    }
  }
}

@media (max-width: 500px) {
  header {
    .container {
      > a:nth-child(1) {
        img {
          max-width: 80px;
        }
      }
      .resume {
        padding: 12px 20px;
        img {
          max-width: 25px;
          position: relative;
          z-index: 1;
        }
      }
      padding: 30px 10px;
    }
    nav {
      ul {
        max-width: 140px;
      }
    }
    .mobile-menu {
      margin: 0 20px 0 0;
    }
  }
}
