.services {
  .all-services {
    > .title {
      position: relative;
      z-index: 1;
      display: flex;
      gap: 20px;
      align-items: center;
      .icon {
        box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
        background: rgba(0, 0, 0, 0.25);
        width: 50px;
        height: 50px;
        box-sizing: content-box;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        img {
          -webkit-mask-image: linear-gradient(
            to bottom right,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.5) 100%
          );
          mask-image: linear-gradient(
            to bottom right,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.5) 100%
          );
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;

          -webkit-mask-size: cover;
          mask-size: cover;
        }
      }
      h3 {
        color: var(--w1);
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 2.0625rem;
      }
    }
  }
}

@media (max-width: 1060px) {
  .services {
    .all-services {
      > .title {
        justify-content: center;
        h3 {
          font-size: 2rem;
          text-align: center;
          line-height: 2.5rem;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .services {
    .all-services {
      > .title {
        flex-direction: column;
        gap: 15px;
      }
    }
  }
}
