.about-me {
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-color: #131313;
  padding: 120px 0 180px 0;
  margin-bottom: -63px;
  > div {
    background: rgba(0, 0, 0, 0.15);
    position: relative;
    .blur {
      z-index: 0;
      width: 500px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .container {
    display: flex;
    position: relative;
    z-index: 1;
  }
  h1 {
    font-size: 1.125rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    padding: 20px 40px;
    font-weight: 700;
    color: var(--w1);
  }
  .summary {
    max-width: 700px;
    .info {
      box-sizing: border-box;
      padding: 40px;
      box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
      background: rgba(0, 0, 0, 0.05);
      height: 100%;
      max-height: 649.2px;
      > p {
        padding: 30px 40px 0 0;
        line-height: 2rem;
        font-weight: 400;
        color: #aaa;
        strong {
          color: var(--w1);
        }
      }
    }
    .quote {
      display: flex;
      img {
        width: 100%;
        max-width: 180px;
        height: 180px;
      }
      div {
        box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
        background: rgba(0, 0, 0, 0.25);
      }
      span {
        color: var(--w1);
        font-weight: 700;
        font-size: 1.125rem;
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 15px 20px 0 20px;
      }
      p {
        color: #aaa;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.875rem;
        padding: 15px 80px 15px 20px;
        box-sizing: border-box;
      }
    }
  }
  .information {
    max-width: 460px;
    width: 100%;
    display: flex;
    flex-direction: column;
    .information-inner {
      padding: 40px;
      color: var(--w1);
      box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
      background: rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      gap: 20px;
      span {
        font-size: 1rem;
        text-transform: uppercase;
        color: #aaa;
        font-weight: 800;
        display: block;
      }
      p {
        font-family: var(--font-chakra-petch);
        font-weight: 600;
        margin-top: 2px;
        font-size: 1.125rem;
      }
      > div {
        padding: 25px;
        box-sizing: border-box;
        box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
        background: rgba(0, 0, 0, 0.25);
      }
      > div:nth-child(2) {
        background: unset;
        padding: 0;
        display: flex;
        gap: 20px;
        div {
          width: 100%;
          padding: 25px;
          box-sizing: border-box;
          box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
          background: rgba(0, 0, 0, 0.25);
          span:nth-child(3) {
            margin-top: 10px;
          }
        }
        > div:nth-child(1) {
          max-width: fit-content;
        }
      }
      > div:nth-child(3) {
        a {
          text-decoration: none;
          color: var(--w1);
        }
        span:nth-child(3) {
          margin-top: 10px;
        }
      }
      > div:last-child {
        display: flex;
        gap: 18px;
        justify-content: center;
        flex-wrap: wrap;
        a {
          width: 36px;
          height: 36px;
        }
        img {
          width: 36px;
          height: 36px;
          transition: 0.2s ease;
          -webkit-mask-image: linear-gradient(
            to bottom right,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.5) 100%
          );
          mask-image: linear-gradient(
            to bottom right,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.5) 100%
          );
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;

          -webkit-mask-size: cover;
          mask-size: cover;
          &:hover {
            transform: scale(1.15);
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .about-me {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .summary {
      .info {
        max-height: unset;
        padding: 20px;
      }
    }
    .information {
      max-width: 700px;
      h1 {
        order: 2;
      }
      .information-inner {
        max-height: unset;
        padding: 20px;
        > div:nth-child(2) {
          > div:nth-child(1) {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 870px) {
  .about-me {
    padding: 60px 20px 120px 20px;
  }
}

@media (max-width: 750px) {
  .about-me {
    .summary {
      .info {
        > p {
          font-size: 1rem;
          padding: 30px 0 0 0;
        }
      }
      .quote {
        flex-direction: column;
        align-items: center;
        box-shadow: unset;
        img {
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1),
            0 10px 10px rgba(0, 0, 0, 0.04);
        }
        div {
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1),
            0 10px 10px rgba(0, 0, 0, 0.04);
          text-align: center;
          margin-top: 20px;
        }
        span {
          font-size: 1rem;
        }
        p {
          padding: 20px;
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .about-me {
    .information {
      .information-inner {
        p {
          font-size: 1rem;
        }
        > div:nth-child(2) {
          flex-direction: column;
        }
      }
    }
  }
}
