.about {
  overflow: hidden;
  .heading {
    > div {
      overflow: hidden;
      padding: 50px 20px 0 20px;
      box-sizing: content-box;
      background-color: var(--b2);
      background-size: cover;
      background-position: center center;
      background-repeat: repeat;
      background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%235454545e%22 stroke-width=%22.8%22 fill=%22none%22 mask=%22url(%23b)%22%3E%3Cpath d=%22M0 0h83.333v83.333H0zM83.333 0h83.333v83.333H83.333zM166.667 0H250v83.333h-83.333zM250 0h83.333v83.333H250zM333.333 0h83.333v83.333h-83.333zM416.667 0H500v83.333h-83.333zM500 0h83.333v83.333H500zM583.333 0h83.333v83.333h-83.333zM666.667 0H750v83.333h-83.333zM750 0h83.333v83.333H750zM833.333 0h83.333v83.333h-83.333zM916.667 0H1000v83.333h-83.333zM1000 0h83.333v83.333H1000zM1083.333 0h83.333v83.333h-83.333zM1166.667 0H1250v83.333h-83.333zM1250 0h83.333v83.333H1250zM1333.333 0h83.333v83.333h-83.333zM1416.667 0H1500v83.333h-83.333zM1500 0h83.333v83.333H1500zM1583.333 0h83.333v83.333h-83.333zM1666.667 0H1750v83.333h-83.333zM1750 0h83.333v83.333H1750zM1833.333 0h83.333v83.333h-83.333zM1916.667 0H2000v83.333h-83.333zM0 83.333h83.333v83.333H0zM83.333 83.333h83.333v83.333H83.333zM166.667 83.333H250v83.333h-83.333zM250 83.333h83.333v83.333H250zM333.333 83.333h83.333v83.333h-83.333zM416.667 83.333H500v83.333h-83.333zM500 83.333h83.333v83.333H500zM583.333 83.333h83.333v83.333h-83.333zM666.667 83.333H750v83.333h-83.333zM750 83.333h83.333v83.333H750zM833.333 83.333h83.333v83.333h-83.333zM916.667 83.333H1000v83.333h-83.333zM1000 83.333h83.333v83.333H1000zM1083.333 83.333h83.333v83.333h-83.333zM1166.667 83.333H1250v83.333h-83.333zM1250 83.333h83.333v83.333H1250zM1333.333 83.333h83.333v83.333h-83.333zM1416.667 83.333H1500v83.333h-83.333zM1500 83.333h83.333v83.333H1500zM1583.333 83.333h83.333v83.333h-83.333zM1666.667 83.333H1750v83.333h-83.333zM1750 83.333h83.333v83.333H1750zM1833.333 83.333h83.333v83.333h-83.333zM1916.667 83.333H2000v83.333h-83.333zM0 166.667h83.333V250H0zM83.333 166.667h83.333V250H83.333zM166.667 166.667H250V250h-83.333zM250 166.667h83.333V250H250zM333.333 166.667h83.333V250h-83.333zM416.667 166.667H500V250h-83.333zM500 166.667h83.333V250H500zM583.333 166.667h83.333V250h-83.333zM666.667 166.667H750V250h-83.333zM750 166.667h83.333V250H750zM833.333 166.667h83.333V250h-83.333zM916.667 166.667H1000V250h-83.333zM1000 166.667h83.333V250H1000zM1083.333 166.667h83.333V250h-83.333zM1166.667 166.667H1250V250h-83.333zM1250 166.667h83.333V250H1250zM1333.333 166.667h83.333V250h-83.333zM1416.667 166.667H1500V250h-83.333zM1500 166.667h83.333V250H1500zM1583.333 166.667h83.333V250h-83.333zM1666.667 166.667H1750V250h-83.333zM1750 166.667h83.333V250H1750zM1833.333 166.667h83.333V250h-83.333zM1916.667 166.667H2000V250h-83.333zM0 250h83.333v83.333H0zM83.333 250h83.333v83.333H83.333zM166.667 250H250v83.333h-83.333zM250 250h83.333v83.333H250zM333.333 250h83.333v83.333h-83.333zM416.667 250H500v83.333h-83.333zM500 250h83.333v83.333H500zM583.333 250h83.333v83.333h-83.333zM666.667 250H750v83.333h-83.333zM750 250h83.333v83.333H750zM833.333 250h83.333v83.333h-83.333zM916.667 250H1000v83.333h-83.333zM1000 250h83.333v83.333H1000zM1083.333 250h83.333v83.333h-83.333zM1166.667 250H1250v83.333h-83.333zM1250 250h83.333v83.333H1250zM1333.333 250h83.333v83.333h-83.333zM1416.667 250H1500v83.333h-83.333zM1500 250h83.333v83.333H1500zM1583.333 250h83.333v83.333h-83.333zM1666.667 250H1750v83.333h-83.333zM1750 250h83.333v83.333H1750zM1833.333 250h83.333v83.333h-83.333zM1916.667 250H2000v83.333h-83.333zM0 333.333h83.333v83.333H0zM83.333 333.333h83.333v83.333H83.333zM166.667 333.333H250v83.333h-83.333zM250 333.333h83.333v83.333H250zM333.333 333.333h83.333v83.333h-83.333zM416.667 333.333H500v83.333h-83.333zM500 333.333h83.333v83.333H500zM583.333 333.333h83.333v83.333h-83.333zM666.667 333.333H750v83.333h-83.333zM750 333.333h83.333v83.333H750zM833.333 333.333h83.333v83.333h-83.333zM916.667 333.333H1000v83.333h-83.333zM1000 333.333h83.333v83.333H1000zM1083.333 333.333h83.333v83.333h-83.333zM1166.667 333.333H1250v83.333h-83.333zM1250 333.333h83.333v83.333H1250zM1333.333 333.333h83.333v83.333h-83.333zM1416.667 333.333H1500v83.333h-83.333zM1500 333.333h83.333v83.333H1500zM1583.333 333.333h83.333v83.333h-83.333zM1666.667 333.333H1750v83.333h-83.333zM1750 333.333h83.333v83.333H1750zM1833.333 333.333h83.333v83.333h-83.333zM1916.667 333.333H2000v83.333h-83.333zM0 416.667h83.333V500H0zM83.333 416.667h83.333V500H83.333zM166.667 416.667H250V500h-83.333zM250 416.667h83.333V500H250zM333.333 416.667h83.333V500h-83.333zM416.667 416.667H500V500h-83.333zM500 416.667h83.333V500H500zM583.333 416.667h83.333V500h-83.333zM666.667 416.667H750V500h-83.333zM750 416.667h83.333V500H750zM833.333 416.667h83.333V500h-83.333zM916.667 416.667H1000V500h-83.333zM1000 416.667h83.333V500H1000zM1083.333 416.667h83.333V500h-83.333zM1166.667 416.667H1250V500h-83.333zM1250 416.667h83.333V500H1250zM1333.333 416.667h83.333V500h-83.333zM1416.667 416.667H1500V500h-83.333zM1500 416.667h83.333V500H1500zM1583.333 416.667h83.333V500h-83.333zM1666.667 416.667H1750V500h-83.333zM1750 416.667h83.333V500H1750zM1833.333 416.667h83.333V500h-83.333zM1916.667 416.667H2000V500h-83.333zM0 500h83.333v83.333H0zM83.333 500h83.333v83.333H83.333zM166.667 500H250v83.333h-83.333zM250 500h83.333v83.333H250zM333.333 500h83.333v83.333h-83.333zM416.667 500H500v83.333h-83.333zM500 500h83.333v83.333H500zM583.333 500h83.333v83.333h-83.333zM666.667 500H750v83.333h-83.333zM750 500h83.333v83.333H750zM833.333 500h83.333v83.333h-83.333zM916.667 500H1000v83.333h-83.333zM1000 500h83.333v83.333H1000zM1083.333 500h83.333v83.333h-83.333zM1166.667 500H1250v83.333h-83.333zM1250 500h83.333v83.333H1250zM1333.333 500h83.333v83.333h-83.333zM1416.667 500H1500v83.333h-83.333zM1500 500h83.333v83.333H1500zM1583.333 500h83.333v83.333h-83.333zM1666.667 500H1750v83.333h-83.333zM1750 500h83.333v83.333H1750zM1833.333 500h83.333v83.333h-83.333zM1916.667 500H2000v83.333h-83.333zM0 583.333h83.333v83.333H0zM83.333 583.333h83.333v83.333H83.333zM166.667 583.333H250v83.333h-83.333zM250 583.333h83.333v83.333H250zM333.333 583.333h83.333v83.333h-83.333zM416.667 583.333H500v83.333h-83.333zM500 583.333h83.333v83.333H500zM583.333 583.333h83.333v83.333h-83.333zM666.667 583.333H750v83.333h-83.333zM750 583.333h83.333v83.333H750zM833.333 583.333h83.333v83.333h-83.333zM916.667 583.333H1000v83.333h-83.333zM1000 583.333h83.333v83.333H1000zM1083.333 583.333h83.333v83.333h-83.333zM1166.667 583.333H1250v83.333h-83.333zM1250 583.333h83.333v83.333H1250zM1333.333 583.333h83.333v83.333h-83.333zM1416.667 583.333H1500v83.333h-83.333zM1500 583.333h83.333v83.333H1500zM1583.333 583.333h83.333v83.333h-83.333zM1666.667 583.333H1750v83.333h-83.333zM1750 583.333h83.333v83.333H1750zM1833.333 583.333h83.333v83.333h-83.333zM1916.667 583.333H2000v83.333h-83.333zM0 666.667h83.333V750H0zM83.333 666.667h83.333V750H83.333zM166.667 666.667H250V750h-83.333zM250 666.667h83.333V750H250zM333.333 666.667h83.333V750h-83.333zM416.667 666.667H500V750h-83.333zM500 666.667h83.333V750H500zM583.333 666.667h83.333V750h-83.333zM666.667 666.667H750V750h-83.333zM750 666.667h83.333V750H750zM833.333 666.667h83.333V750h-83.333zM916.667 666.667H1000V750h-83.333zM1000 666.667h83.333V750H1000zM1083.333 666.667h83.333V750h-83.333zM1166.667 666.667H1250V750h-83.333zM1250 666.667h83.333V750H1250zM1333.333 666.667h83.333V750h-83.333zM1416.667 666.667H1500V750h-83.333zM1500 666.667h83.333V750H1500zM1583.333 666.667h83.333V750h-83.333zM1666.667 666.667H1750V750h-83.333zM1750 666.667h83.333V750H1750zM1833.333 666.667h83.333V750h-83.333zM1916.667 666.667H2000V750h-83.333zM0 750h83.333v83.333H0zM83.333 750h83.333v83.333H83.333zM166.667 750H250v83.333h-83.333zM250 750h83.333v83.333H250zM333.333 750h83.333v83.333h-83.333zM416.667 750H500v83.333h-83.333zM500 750h83.333v83.333H500zM583.333 750h83.333v83.333h-83.333zM666.667 750H750v83.333h-83.333zM750 750h83.333v83.333H750zM833.333 750h83.333v83.333h-83.333zM916.667 750H1000v83.333h-83.333zM1000 750h83.333v83.333H1000zM1083.333 750h83.333v83.333h-83.333zM1166.667 750H1250v83.333h-83.333zM1250 750h83.333v83.333H1250zM1333.333 750h83.333v83.333h-83.333zM1416.667 750H1500v83.333h-83.333zM1500 750h83.333v83.333H1500zM1583.333 750h83.333v83.333h-83.333zM1666.667 750H1750v83.333h-83.333zM1750 750h83.333v83.333H1750zM1833.333 750h83.333v83.333h-83.333zM1916.667 750H2000v83.333h-83.333zM0 833.333h83.333v83.333H0zM83.333 833.333h83.333v83.333H83.333zM166.667 833.333H250v83.333h-83.333zM250 833.333h83.333v83.333H250zM333.333 833.333h83.333v83.333h-83.333zM416.667 833.333H500v83.333h-83.333zM500 833.333h83.333v83.333H500zM583.333 833.333h83.333v83.333h-83.333zM666.667 833.333H750v83.333h-83.333zM750 833.333h83.333v83.333H750zM833.333 833.333h83.333v83.333h-83.333zM916.667 833.333H1000v83.333h-83.333zM1000 833.333h83.333v83.333H1000zM1083.333 833.333h83.333v83.333h-83.333zM1166.667 833.333H1250v83.333h-83.333zM1250 833.333h83.333v83.333H1250zM1333.333 833.333h83.333v83.333h-83.333zM1416.667 833.333H1500v83.333h-83.333zM1500 833.333h83.333v83.333H1500zM1583.333 833.333h83.333v83.333h-83.333zM1666.667 833.333H1750v83.333h-83.333zM1750 833.333h83.333v83.333H1750zM1833.333 833.333h83.333v83.333h-83.333zM1916.667 833.333H2000v83.333h-83.333zM0 916.667h83.333V1000H0zM83.333 916.667h83.333V1000H83.333zM166.667 916.667H250V1000h-83.333zM250 916.667h83.333V1000H250zM333.333 916.667h83.333V1000h-83.333zM416.667 916.667H500V1000h-83.333zM500 916.667h83.333V1000H500zM583.333 916.667h83.333V1000h-83.333zM666.667 916.667H750V1000h-83.333zM750 916.667h83.333V1000H750zM833.333 916.667h83.333V1000h-83.333zM916.667 916.667H1000V1000h-83.333zM1000 916.667h83.333V1000H1000zM1083.333 916.667h83.333V1000h-83.333zM1166.667 916.667H1250V1000h-83.333zM1250 916.667h83.333V1000H1250zM1333.333 916.667h83.333V1000h-83.333zM1416.667 916.667H1500V1000h-83.333zM1500 916.667h83.333V1000H1500zM1583.333 916.667h83.333V1000h-83.333zM1666.667 916.667H1750V1000h-83.333zM1750 916.667h83.333V1000H1750zM1833.333 916.667h83.333V1000h-83.333zM1916.667 916.667H2000V1000h-83.333zM0 1000h83.333v83.333H0zM83.333 1000h83.333v83.333H83.333zM166.667 1000H250v83.333h-83.333zM250 1000h83.333v83.333H250zM333.333 1000h83.333v83.333h-83.333zM416.667 1000H500v83.333h-83.333zM500 1000h83.333v83.333H500zM583.333 1000h83.333v83.333h-83.333zM666.667 1000H750v83.333h-83.333zM750 1000h83.333v83.333H750zM833.333 1000h83.333v83.333h-83.333zM916.667 1000H1000v83.333h-83.333zM1000 1000h83.333v83.333H1000zM1083.333 1000h83.333v83.333h-83.333zM1166.667 1000H1250v83.333h-83.333zM1250 1000h83.333v83.333H1250zM1333.333 1000h83.333v83.333h-83.333zM1416.667 1000H1500v83.333h-83.333zM1500 1000h83.333v83.333H1500zM1583.333 1000h83.333v83.333h-83.333zM1666.667 1000H1750v83.333h-83.333zM1750 1000h83.333v83.333H1750zM1833.333 1000h83.333v83.333h-83.333zM1916.667 1000H2000v83.333h-83.333zM0 1083.333h83.333v83.333H0zM83.333 1083.333h83.333v83.333H83.333zM166.667 1083.333H250v83.333h-83.333zM250 1083.333h83.333v83.333H250zM333.333 1083.333h83.333v83.333h-83.333zM416.667 1083.333H500v83.333h-83.333zM500 1083.333h83.333v83.333H500zM583.333 1083.333h83.333v83.333h-83.333zM666.667 1083.333H750v83.333h-83.333zM750 1083.333h83.333v83.333H750zM833.333 1083.333h83.333v83.333h-83.333zM916.667 1083.333H1000v83.333h-83.333zM1000 1083.333h83.333v83.333H1000zM1083.333 1083.333h83.333v83.333h-83.333zM1166.667 1083.333H1250v83.333h-83.333zM1250 1083.333h83.333v83.333H1250zM1333.333 1083.333h83.333v83.333h-83.333zM1416.667 1083.333H1500v83.333h-83.333zM1500 1083.333h83.333v83.333H1500zM1583.333 1083.333h83.333v83.333h-83.333zM1666.667 1083.333H1750v83.333h-83.333zM1750 1083.333h83.333v83.333H1750zM1833.333 1083.333h83.333v83.333h-83.333zM1916.667 1083.333H2000v83.333h-83.333zM0 1166.667h83.333V1250H0zM83.333 1166.667h83.333V1250H83.333zM166.667 1166.667H250V1250h-83.333zM250 1166.667h83.333V1250H250zM333.333 1166.667h83.333V1250h-83.333zM416.667 1166.667H500V1250h-83.333zM500 1166.667h83.333V1250H500zM583.333 1166.667h83.333V1250h-83.333zM666.667 1166.667H750V1250h-83.333zM750 1166.667h83.333V1250H750zM833.333 1166.667h83.333V1250h-83.333zM916.667 1166.667H1000V1250h-83.333zM1000 1166.667h83.333V1250H1000zM1083.333 1166.667h83.333V1250h-83.333zM1166.667 1166.667H1250V1250h-83.333zM1250 1166.667h83.333V1250H1250zM1333.333 1166.667h83.333V1250h-83.333zM1416.667 1166.667H1500V1250h-83.333zM1500 1166.667h83.333V1250H1500zM1583.333 1166.667h83.333V1250h-83.333zM1666.667 1166.667H1750V1250h-83.333zM1750 1166.667h83.333V1250H1750zM1833.333 1166.667h83.333V1250h-83.333zM1916.667 1166.667H2000V1250h-83.333zM0 1250h83.333v83.333H0zM83.333 1250h83.333v83.333H83.333zM166.667 1250H250v83.333h-83.333zM250 1250h83.333v83.333H250zM333.333 1250h83.333v83.333h-83.333zM416.667 1250H500v83.333h-83.333zM500 1250h83.333v83.333H500zM583.333 1250h83.333v83.333h-83.333zM666.667 1250H750v83.333h-83.333zM750 1250h83.333v83.333H750zM833.333 1250h83.333v83.333h-83.333zM916.667 1250H1000v83.333h-83.333zM1000 1250h83.333v83.333H1000zM1083.333 1250h83.333v83.333h-83.333zM1166.667 1250H1250v83.333h-83.333zM1250 1250h83.333v83.333H1250zM1333.333 1250h83.333v83.333h-83.333zM1416.667 1250H1500v83.333h-83.333zM1500 1250h83.333v83.333H1500zM1583.333 1250h83.333v83.333h-83.333zM1666.667 1250H1750v83.333h-83.333zM1750 1250h83.333v83.333H1750zM1833.333 1250h83.333v83.333h-83.333zM1916.667 1250H2000v83.333h-83.333zM0 1333.333h83.333v83.333H0zM83.333 1333.333h83.333v83.333H83.333zM166.667 1333.333H250v83.333h-83.333zM250 1333.333h83.333v83.333H250zM333.333 1333.333h83.333v83.333h-83.333zM416.667 1333.333H500v83.333h-83.333zM500 1333.333h83.333v83.333H500zM583.333 1333.333h83.333v83.333h-83.333zM666.667 1333.333H750v83.333h-83.333zM750 1333.333h83.333v83.333H750zM833.333 1333.333h83.333v83.333h-83.333zM916.667 1333.333H1000v83.333h-83.333zM1000 1333.333h83.333v83.333H1000zM1083.333 1333.333h83.333v83.333h-83.333zM1166.667 1333.333H1250v83.333h-83.333zM1250 1333.333h83.333v83.333H1250zM1333.333 1333.333h83.333v83.333h-83.333zM1416.667 1333.333H1500v83.333h-83.333zM1500 1333.333h83.333v83.333H1500zM1583.333 1333.333h83.333v83.333h-83.333zM1666.667 1333.333H1750v83.333h-83.333zM1750 1333.333h83.333v83.333H1750zM1833.333 1333.333h83.333v83.333h-83.333zM1916.667 1333.333H2000v83.333h-83.333z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22 stop-opacity=%22.712%22%2F%3E%3Cstop offset=%2276%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
    }
  }
  .about-inner {
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
    position: relative;
    z-index: 1;
    box-sizing: content-box;
    > span {
      text-transform: uppercase;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      font-size: 15em;
      font-weight: 900;
      font-style: italic;
      z-index: -1;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.01)
      );
      background-size: 100%;
      background-repeat: repeat;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
    > img {
      max-width: 520px;
      width: 100%;
      object-fit: contain;
      position: relative;
      z-index: 5;
      justify-self: center;
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      position: relative;
      z-index: 5;
      h3 {
        color: rgba(255, 255, 255, 0.6);
        font-size: 4.5rem;
        text-transform: uppercase;
        font-weight: 800;
        box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(15px);
        padding: 30px 80px;
        max-width: fit-content;
        span {
          display: block;
          font-size: 3rem;
          text-transform: uppercase;
          font-weight: 200;
          margin-top: -20px;
        }
      }
      > div {
        box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(15px);
        padding: 25px;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 515px;
        h4 {
          font-size: 1.25rem;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.5);
          font-weight: 200;
          margin: 0;
          span {
            font-size: 2rem;
            margin-top: -5px;
            display: block;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.5);
            font-weight: 800;
          }
        }
      }
      a {
        font-family: var(--font-chakra-petch);
        box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
        background: rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        padding: 18px 36px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 500;
        transition: 0.3s ease;
        &:hover {
          border: 1px solid rgba(255, 255, 255, 0.75);
          color: var(--w1);
        }
      }
    }
    + .blur {
      max-width: 820px;
      height: 820px;
      left: 0;
      right: 0;
      bottom: -80px;

      margin-left: auto;
      margin-right: auto;
      border-radius: 100%;
      z-index: 0;
    }
    + .blur.active {
      opacity: 0.4;
    }
  }
}
@media (max-width: 1240px) {
  .about {
    .about-inner {
      position: relative;
      z-index: 2;
      padding: 80px 20px 0 20px;
      > span {
        font-size: 10rem;
      }
      > img {
        max-width: 320px;
        height: 100%;
      }
      .info {
        gap: 40px;
        h3 {
          font-size: 3em;
          padding: 20px 60px;
          span {
            margin-top: -5px;
            font-size: 2.25rem;
          }
        }
        > div {
          max-width: 420px;
          h4 {
            font-size: 1rem;
            span {
              font-size: 1.5rem;
            }
          }
        }
      }
      + .blur {
        bottom: -140px;
        max-width: 540px;
      }
    }
  }
}

@media (max-width: 1040px) {
  .about {
    .about-inner {
      height: 580px;
      display: block;
      > span {
        display: none;
      }
      > img {
        position: absolute;
        filter: saturate(0);
        z-index: 0;
        opacity: 0.2;
        bottom: -25px;
        right: 0;
      }
      .info {
        width: 100%;
        gap: 20px;
        > div {
          backdrop-filter: blur(3px);
          box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px,
            rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
        }
      }
      + .blur {
        bottom: -180px;
        max-width: 500px;
      }
    }
  }
}

@media (max-width: 740px) {
  .about {
    .about-inner {
      .info {
        h3 {
          font-size: 2.25rem;
          span {
            margin-top: unset;
            font-size: 1.5rem;
          }
        }
        > div {
          max-width: 320px;
          h4 {
            span {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
}
