.post-preview {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
  background: rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(10px);
  > img {
    width: 100%;
    height: 100%;
    max-height: 260px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.19) 0 5px 20px, rgba(0, 0, 0, 0.23) 0 3px 6px;
    position: relative;
    z-index: 2;
  }
  .post-content {
    position: relative;
    z-index: 2;
  }
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--w1);
    font-weight: 700;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2rem;
    color: #aaa;
  }
  .post-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .post-meta {
    display: flex;
    gap: 20px;
    font-family: var(--font-chakra-petch);
    p {
      font-weight: 600;
    }
    img {
      max-width: 25px;
      width: 100%;
      -webkit-mask-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
      mask-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: cover;
      mask-size: cover;
    }
    div {
      display: flex;
      align-items: center;
      color: #aaa;
      gap: 10px;
    }
  }
  a {
    text-decoration: none;
    font-family: var(--font-chakra-petch);
    font-weight: 500;
    color: #aaa;
    padding: 18px 36px;
    transition: 0.2s ease;
    display: block;
    max-width: fit-content;
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
    &:hover {
      border-color: var(--w1);
      color: var(--w1);
    }
  }
  .blur {
    z-index: 1;
    height: 200px;
    bottom: -130px;
    filter: blur(90px);
  }
}

@media (max-width: 970px) {
  .post-preview {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 760px) {
  .post-preview {
    padding: 20px;
    gap: 20px;
    h1 {
      margin-bottom: 10px;
      text-align: center;
    }
    p {
      font-size: 1rem;
    }
    .post-info {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
  }
}
