.certificates {
  position: relative;
  z-index: 1;
  h1 {
    background: rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    padding: 20px 40px;
    color: var(--w1);
  }
  > div {
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
    background: var(--b2);
    > div {
      background: rgba(0, 0, 0, 0.25);
      color: var(--w1);
      max-width: fit-content;
      padding: 40px 20px;
      display: flex;
      gap: 40px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      &::-webkit-scrollbar {
        height: 8px;
      }
      &::-webkit-scrollbar-track {
        background: var(--b1);
      }
      &::-webkit-scrollbar-thumb {
        background: #aaa;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #cecece;
      }
    }
  }
  .certificates-card {
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
    background: rgba(0, 0, 0, 0.25);
    min-width: fit-content;
    box-sizing: content-box;
    padding: 12px 12px 15px 12px;
    text-align: center;
    text-transform: uppercase;
    img {
      width: 240px;
      height: 170px;
      object-fit: cover;
      margin-bottom: 5px;
      filter: grayscale(100%);
      transition: 0.2s ease;
      &:hover {
        filter: grayscale(0%);
      }
    }
    h2 {
      color: var(--w1);
    }
    h3 {
      color: #aaa;
    }
  }
}

@media (max-width: 1200px) {
  .certificates {
    > div {
      gap: 20px;
    }
  }
}
