.education {
  padding: 120px 0 180px 0;
  margin-bottom: -63px;
  background: var(--b2);
  position: relative;
  z-index: 0;
  .blur {
    z-index: 0;
    width: 800px;
    height: 300px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  h1 {
    background: rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 20px 40px;
    text-align: center;
    font-weight: 700;
    color: var(--w1);
  }
  > div {
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
    background: var(--b2);
    > div {
      background: rgba(0, 0, 0, 0.25);
    }
  }
  .education-container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: fit-content;
    padding: 40px 20px;
    display: flex;
    gap: 40px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar {
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      background: var(--b1);
    }
    &::-webkit-scrollbar-thumb {
      background: #454545;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: var(--w1);
    }
  }
  .education-card {
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15) inset;
    background: rgba(0, 0, 0, 0.25);
    color: var(--w1);
    box-sizing: content-box;
    padding: 40px 25px;
    min-width: 300px;
    max-width: 300px;
    a {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
    img {
      display: block;
      margin: 0 auto 20px auto;
      max-width: fit-content;
      width: 100%;
      max-height: 160px;
      object-fit: cover;
      transition: 0.3s ease;
    }
    h2 {
      text-transform: uppercase;
      font-weight: 800;
      text-align: center;
      font-size: 1.75rem;
    }
    h3 {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.25rem;
      margin-top: 4px;
      font-weight: 700;
      color: #707070;
    }
    span {
      display: block;
      font-family: Poppins, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      margin: 10px 0;
    }
    p {
      line-height: 2rem;
      color: #aaa;
      font-weight: 400;
    }
  }
}

@media (max-width: 1200px) {
  .education {
    .education-container {
      padding: 20px;
      gap: 20px;
    }
  }
}

@media (max-width: 750px) {
  .education {
    .education-card {
      p {
        font-size: 1rem;
      }
    }
  }
}
