.project-design {
  background: var(--b2);
  padding: 20px 0;
  .container {
    max-width: 840px;
    display: flex;
    justify-content: start;
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    gap: 20px;
    padding: 20px;
    &::-webkit-scrollbar {
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      background: var(--b1);
    }
    &::-webkit-scrollbar-thumb {
      background: #454545;
      border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: var(--w1);
    }
    > div {
      padding: 24px;
      min-width: 390px;
      background: var(--b1);
      border-radius: 12px;
      color: var(--w1);
      text-transform: uppercase;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      .boxes {
        display: flex;
        gap: 16px;
        margin-bottom: 3px;
        div {
          cursor: default;
          width: 42px;
          height: 42px;
          background: var(--b1);
          border-radius: 10px;
          box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px;
        }
      }
      .icons {
        display: flex;
        gap: 20px;
        div {
          box-sizing: content-box;
          width: 38px;
          height: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: linear-gradient(
            to bottom right,
            rgba(35, 35, 35, 0.5),
            rgba(22, 22, 22, 0.25)
          );
          border: 1px solid rgba(255, 255, 255, 0.15);
          padding: 5px;
          border-radius: 100%;
          box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px,
            rgba(0, 0, 0, 0.23) 0 3px 6px;
          img {
            max-width: 28px;
            max-height: 28px;
            object-fit: contain;
          }
        }
      }
    }
  }
}
