.tooltip {
  position: absolute;
  font-family: var(--font-robotoMono), monospace;
  z-index: 20;
  color: var(--w1);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 12px;
  background: var(--b1);
  border-radius: 10px;
  font-weight: 500;
  max-width: fit-content;
  line-height: 1.25rem;
  width: 100%;
  white-space: nowrap;
}

@media (max-width: 1060px) {
  .tooltip {
    display: none;
  }
}
